<!DOCTYPE html>
<html>

<head>
    <title>쇼핑몰 CEO</title>
</head>

<body>

<button style="width: 60px" type="button" onclick="location.href='http://localhost:{{port}}'" >홈으로</button>

<form id="form" action="" method="post">
    회원 상세 정보 수정<br>
    <input style="width:200px" type="text" name="address" placeholder="주소" required/><br>
    <input style="width:200px" type="text" name="number" placeholder="전화번호" /><br>

    <button style="width:200px" type="submit">수정</button><br><br><br>
</form>
</body>

</html>