<!DOCTYPE html>
<html>

<head>
    <title>쇼핑몰 CEO</title>
</head>

<body>

<button style="width: 60px" type="button" onclick="location.href='http://localhost:{{port}}'" >홈으로</button>

<form id="form" action="" method="post">
    물품 정보 수정<br>
    <input type="text" name="name" placeholder="Name" /><br>
    <input type="number" name="quantity" placeholder="Quantity" /><br>
    <input type="text" name="price" placeholder="Price" /><br>
    <button style="width:200px" type="submit">수정</button><br><br><br>
</form>
</body>

</html>