<!DOCTYPE html>
<html>

<head>
  <title>쇼핑몰 CEO</title>
</head>

<body>
  <form id="form" action="sign-up" method="post">
    사용자 정보 등록<br>
    <input style = "width: 150px" type="text" name="userId" placeholder="ID" required/><br>
    <input style = "width: 150px" type="text" name="password" placeholder="Password" required/><br>
    <input style = "width: 150px" type="text" name="name" placeholder="Name" required/><br><br>
    <button style = "width: 157px" type="submit">회원 가입</button>
  </form>
</body>

</html>